*{
margin: 0;
padding: 0;
}
.sub-header{
    min-height: 100vh;
    width: 100%;
    background-image:  linear-gradient(rgba(0,0,0,0.5),#009688),url(images/00.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav-img{
    width: 15%;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: underline;
    font-size: 12px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 64px;
    
}
.text-box p{
    margin:10px 0 40px;
    font-size:14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: grab;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44338;
    transition: 2s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-image:  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/17.jpg);
        background: linear-gradient(rgba(59,4,0,64),black, green);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .cta h1{
        font-size: 24px;
        text-align: center;
    }
    .footer h4{
        text-align: center;
        
    }
    .footer p{
        text-align: center;
        font-size: 14px;
    }
    .nav-links ul{
        padding: 30px;
    }
    .testimonial-col img{
    height: 40px;
    margin-left: 0px;
    margin-right: 15px;
    border-radius: 50px;
}
}
.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.location{
    text-decoration-style: double;
    text-align: center;
    
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    justify-content: space-between;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: skyblue;
    padding: 25px;
    cursor: grabbing;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50px;
}
.testimonial-col p{
    padding: 0%;
    
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
    
        
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/j.jpg);
    background-position: center;
    background-position: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: aqua;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: orangered;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)),url(images/q.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.pa{
    padding-top: 18px;
    background-color: black;
    font-family: monospace;
    border: 14px ;
    font-size: 12;color: blue;
    font-style: algeria;
}
.not{
    font-style: italic;
    font-weight: 300;
}